* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    text-align: center;
}

.container {
    display: inline-block;
    margin-top: 10px;
    background-color: white;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 10px solid;
}

.inner-box {
    background-color: white;
    height: 50%;
    opacity: 50%;
}

.red {
    background-color: red;
    border-color: darkred;
}

.red .inner-box {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.yellow {
    border-color: goldenrod;
    background-color: yellow;
}

.yellow .inner-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.green {
    background-color: green;
    border-color: darkgreen;
}

.green .inner-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
}